body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #eee;
    padding: 30px 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.header__icon {
    display: flex;
    align-items: center;
}

/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer__hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer__open {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100; /* 重なり順を一番上にする */
    cursor: pointer;
    background-color: rgb(63, 90, 242);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

/* ハンバーガーメニューのアイコン */
.drawer__open span,
.drawer__open span:before,
.drawer__open span:after {
    content: "";
    display: block;
    height: 1px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer__open span:before {
    bottom: 6px;
    width: 10px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer__open span:after {
    top: 6px;
    width: 6px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer__input:checked ~ .drawer__open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer__input:checked ~ .drawer__open span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 16px;
}

#drawer__input:checked ~ .drawer__open span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 16px;
}

/* メニューのデザイン*/
.nav__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: 0.5s;
    padding-top: 16%;
}

/* メニュー黒ポチを消す */
.nav__list {
    list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer__input:checked ~ .nav__content {
    right: 0; /* メニューを画面に入れる */
}

.nav__item {
    font-size: 28px;
    text-align: center;
    padding-bottom: 12px;
}

.nav__item-link {
    color: rgb(63, 90, 242);
    text-decoration: none;
    font-weight: bold;
}

.header__logo {
    font-size: 28px;
    color: rgb(63, 90, 242);
    padding-left: 16px;
    font-weight: bold;
}