main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.detail__wrap {
    width: 48%;
    margin-top: 30px;
}

.detail__header {
    display: flex;
    align-items: center;
}

.header__back {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    text-decoration: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.header__shop-name {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.detail__image {
    margin: 20px 0;
}

.detail__image-img {
    width: 100%;
}

.detail__tag {
    display: flex;
}

.detail__tag-info {
    padding-right: 10px;
}

.reservation__wrap {
    width: 45%;
    background-color: rgb(63, 90, 242);
    margin-top: -40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.reservation__content {
    padding: 10px 10% 10px 30px;
}

.reservation__title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.form__item {
    display: block;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
    width: 100%;
    padding: 5px 10px;
}

.form__item:first-child {
    width: 170px;
}

.reservation__group {
    background-color: rgb(84, 124, 243);
    color: #fff;
    width: 95%;
    border-radius: 5px;
}

.reservation__area {
    padding: 20px;
}

.table__header {
    width: 72%;
    text-align: left;
    font-weight: normal;
    padding: 2px 0;
}

.reservation__button {
    margin-top: auto;
    width: 100%;
}

.reservation__button-btn {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: rgb(28, 65, 251);
    border: none;
    border-bottom-right-radius:3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}