.header__right {
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    background-color: #fff;
    font-size: 12px;
    width: 50%;
}

.select-box__label {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.select-box__label::after {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 7px;
    background-color: lightgray;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    pointer-events: none;
}

.select-box__item {
    appearance: none;
    min-width: 100px;
    height: 20px;
    padding-left: 8px;
    border: none;
    border-right: 1px solid #cccccc;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.select-box__item:focus {
    outline: none;
}

.select-box__option {
    height: 39px;
}

.search__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

.search__item-input {
    width: 330px;
    height: 45px;
    padding: 5px 15px 5px 0;
    border: none;
    outline: none;
}

.search__item-input::placeholder {
    color: black;
    font-weight: bold;
}

.search__item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search__item-button::before {
    width: 15px;
    height: 15px;
    background: url(../images/search.svg);
    color: lightgray;
    background-repeat: no-repeat;
    content: "";
}

.shop__wrap {
    display: flex;
    gap:20px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop__content {
    width: 270px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    background-color: #fff;
}

.shop__image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shop__item {
    margin:20px;
}

.shop__title {
    font-weight: bold;
}

.shop__tag {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
}

.shop__tag-info {
    margin: 0;
    padding-right: 5px;
}

.shop__button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.shop__button-detail {
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgb(63, 90, 242);
    border: 1px solid rgb(63, 90, 242);
    border-radius: 5px;
    color: #fff;
    padding: 0 16px;
    cursor: pointer;
    font-size: 12px;
}

.shop__button-favorite-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/heart.svg) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    border: none;
}