main {
    margin: 20vh auto 0;
    transform: translateY(-20%);
}

.content__wrap {
    width: 400px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: #fff;
    height: 250px;
    box-shadow: 2px 2px 5px gray;
}

.content__text{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 20px;
}

.content__button{
    display: inline-block;
    background-color: rgb(63, 90, 242);
    border: 1px solid rgb(63, 90, 242);
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}